@import "~antd/dist/antd.css";

.statesPanelContainer {
  height: 100%;
  overflow: auto;
  margin: 20px;
  width: 320px;
}

.statesPanelContainer .statesPanelHeader {
  border: 1px solid var(--color-grey-dark);
  border-bottom: 0;
  padding: 10px 10px 10px 18px;
  background: var(--color-white);
  color: var(--color-primary);
  font-weight: 500;
}
.statesPanelContainer .count{
  color: var(--color-primary);
  font-weight: 500;
}
.statesPanelContainer .titleHeading{
  font-weight: bold;
}